*{
    margin: 0;
}
.login-card{
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    width:max-content;
    height: max-content;
    margin-top: 50px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.login-card:hover{
    border-color: #1976D2; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    transform: scale(1.02); 
}

.img-div {
    margin-top: 20px;
    width: 100px;
    height: 100px; 
}

.img-div .team-img {
    width: 100px;
    height: 100px;
}

/* Media Queries */
@media (max-width: 768px) {
    .login-card {
        width: 80%;
        padding: 16px;
    }

    .team-img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    .login-card {
        padding: 14px;
        width: 90%;
    }

    .team-img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 350px) {
    .login-card {
        padding: 12px;
    }

    .team-img {
        width: 50px;
        height: 50px;
    }
}